* {
  padding: 0px;
  margin: 0px;
}
.one {
  background-image: url(menu1.avif);
  background-size: cover;
  height: 820px;
  width: 10w;
}
.four {
  display: flex;
  justify-content: center;
}
.two {
  color: white;
  font-size: larger;
  margin: 10px;
}
.three {
  color: white;
  font-weight: lighter;
}
.five {
  width: 600px;
  margin-left: 15px;
}
.six {
  color: white;
  padding-left: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 30px;
  border-bottom: 2px solid white;
  font-size: 30px;
}

